* {
  margin: 0;
  padding: 0;
  border: 0;
}
*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus, :active, a:focus, a:active {
  outline: none;
}
header, nav, main, aside, footer, details, summary {
  display: block;
}
html, body {
  min-width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input, button, textarea {
  font-family: inherit;
  font-size: 100%;
}
input::-ms-clear {
  display: none;
}
button, select {
  cursor: pointer;
  text-transform: none;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
a, a:visited, a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0px;
}
/*------------------------------------------------ibg*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
/*-----------------------------------------------mine*/
b, strong {
  font-weight: bolder;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -4px;
}
sup {
  top: -8px;
}
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}
textarea {
  overflow: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
summary::-webkit-details-marker {
  display: none;
}
/*-------------------------------------------patterns--

@media (max-width: 1919.98px)
calc(32px + 40 * ((100vw - 320px)/(1920 - 320)));

@media (max-width: 1279.98px)
calc(32px + 40 * ((100vw - 320px)/(1280 - 320)));
                              container.padding: 24px
                                   item.padding: 16px
@media (max-width: 1023.98px)
@media (max-width: 853.98px)  container.padding: 16px
@media (max-width: 767.98px)
@media (max-width: 599.98px)
@media (max-width: 479.98px)
@media (max-width: 359.98px)
@media (max-width: 320.98px)

display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;


-----------------------------------------------------*/