@font-face {
  font-family: 'icomoon_mogo';
  src:
    url('../font/icomoon_mogo.ttf?ez95c4') format('truetype'),
    url('../font/icomoon_mogo.woff?ez95c4') format('woff'),
    url('../font/icomoon_mogo.svg?ez95c4#icomoon_mogo') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon_mogo' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: rgb(149, 225, 211);

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e904";
}
.icon-youtube:before {
  content: "\e905";
}
.icon-dribbble:before {
  content: "\e900";
}
.icon-google-plus:before {
  content: "\e901";
}
.icon-pinterest:before {
  content: "\e902";
}
.icon-tumblr:before {
  content: "\e903";
}
.icon-map-pin:before {
  content: "\e907";
}
.icon-message:before {
  content: "\e908";
}
.icon-view:before {
  content: "\e909";
}
.icon-twitter:before {
  content: "\e90b";
}
.icon-instagram:before {
  content: "\e90d";
}
.icon-speech:before {
  content: "\e90e";
}
.icon-picture:before {
  content: "\e90f";
}
.icon-equlazer:before {
  content: "\e910";
}
.icon-bullseye:before {
  content: "\e911";
}
.icon-alarm:before {
  content: "\e912";
}
.icon-line:before {
  content: "\e913";
}
.icon-creativity:before {
  content: "\e914";
}
.icon-seo:before {
  content: "\e915";
}
.icon-home:before {
  content: "\e916";
}
.icon-digital:before {
  content: "\e917";
}
.icon-super-team:before {
  content: "\e918";
}
.icon-shopping-cart:before {
  content: "\e919";
}
.icon-magnifing-glass:before {
  content: "\e91a";
}
